$breakpoints:(
small: 767px,
medium:992px,
large:1200px,
xlarge:1400px
);

$additional-blue:#0091fe;
$secondary-color:#000000;
$primary-color:#ffc628;
$bg-green:#81bd5b;
$bg-blue:#0071c7;
$bg-red:#d82a34;
$Grey100:#1F2C37;
$Grey90:#434E58;
$Grey80:#66707A;
$Grey70:#878690;
$Grey60:#9CA4AB;
$Grey50:#BFC6CC;
$Grey40:#D1D8DD;
$Grey30:#E3E9ED;
$Grey20:#ECF1F6;
$Grey10:#FDFDFD;
$white:#fff;

$font-size-m:12px;
$font-size-sm:14px;
$font-size-md:16px;
$font-size-lg:18px;
$font-size-lgs:20px;
$font-size-lgm:22px;
$font-size-xlg:26px;